
body {
	font-family: Arial;
	margin: 0;
    background-color: #545759;
	}

.header {
	padding: 10px;
	text-align: center;
	background: #a31f34;
	color: white;
	font-size: 25px;
	border: 5px solid #545759;
		}

